{% extends 'base.html.twig' %}

{% block title %}New Exemplar{% endblock %}

{% block body %}
    <h1>Create new Exemplar</h1>

    {{ include('exemplar/_form.html.twig') }}

    <a href="{{ path('app_exemplar_index') }}">back to list</a>
{% endblock %}